<h2>title: <%= @story.title %></h2>
<h3>description: <%= @story.description %></h3>
<audio controls src<%=@story.audio %>
</audio>
<p>transcript: <%= @story.transcript %> </p>

<form action="/stories/<%= @story.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
